inst/doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/
data-raw/
R/temp/
R/proteinDomain.R
inst/backup/
inst/extdata/backup/
inst/htmlwidgets/backup/
inst/htmlwidgets/lib/g3Lollipop/backup/
visual_test/
examples/

